{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Booking confirmation{% endblock %}
{% block content %}

<div class="section">
    <div class="container confirmation">
        <div class="row justify-content-center m-2">
            <div class="col-md-8 text-center">
                <h2 class="confirmation-title">Booking Confirmation</h2>
                <p class="p-text">Thank you for your booking!</p>
                <hr>
                <p>Name: {{ booking.name }}</p>
                <p>Email: {{ booking.email }}</p>
                <p>Phone: {{ booking.phone }}</p>
                <p>Number of people: {{ booking.number_of_guests }}</p>
                <p>Date: {{ booking.reservation_date }}</p>
                <p>Time: {{ booking.reservation_time }}</p>
                {% if booking.notes %}
                <p>Notes: {{ booking.notes }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}