{% extends "base.html" %}
{% load static %} 

{% block extra_title %}- Menu{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <h2 class="text-center mb-4">Menu</h2>
    
            <div class="menu-navigation text-center mb-4" aria-label="buttons for navigation">
                <button onclick="scrollToCategory('classic')">Classic</button>
                <button onclick="scrollToCategory('exotic')">Exotic</button>
                <button onclick="scrollToCategory('mini')">Mini</button>
            </div>
            <br>
            <div class="menu-category" aria-labelledby="classic">            
                <h4 class="category" id="classic">Classic</h4>
                <p class="alert">*Prices per slice</p>               
                <ul>
                    <li class="menu-item" aria-label="new york style">
                        <div>
                            <span>New York Style</span>
                            <p class="menu-description">Hearty soup with tender chicken, wild rice, and a medley of vegetables in a flavorful broth.</p>
                        </div>
                        <span class="menu-price" aria-label="€5.50">€5.50</span>
                    </li>
                    
                    <li class="menu-item" aria-label="strawberry">
                        <div>
                            <span>Strawberry</span>
                            <p class="menu-description">Creamy cheesecake atop a golden graham cracker crust, crowned with a medley of fresh strawberries or a luscious strawberry compote. A classic dessert bursting with fruity sweetness.</p>
                        </div>
                        <span class="menu-price" aria-label="€5.50">€5.50</span>
                    </li>
                    
                    <li class="menu-item" aria-label="chocolate">
                        <div>
                            <span>Chocolate</span>
                            <p class="menu-description">Decadent layers of rich chocolate nestled between creamy cheesecake, atop a chocolate cookie crust. A luscious indulgence for chocolate aficionados.</p>
                        </div>
                        <span class="menu-price" aria-label="€5.50">€5.50</span>
                    </li>
                    
                    <li class="menu-item" aria-label="lemon">
                        <div>
                            <span>Lemon</span>
                            <p class="menu-description">Creamy cheesecake infused with zesty lemon flavor, nestled on a buttery graham cracker crust. A refreshing and indulgent delight perfect for citrus lovers.</p>
                        </div>
                        <span class="menu-price" aria-label="€5.50">€5.50</span>
                    </li>
                                        
                </ul>
            </div>

            <div class="menu-category" aria-labelledby="exotic">
                <h4 class="category" id="exotic">Exotic</h4>
                <ul>
                    <li class="menu-item" aria-label="forest Berry">
                        <div>
                            <span>Forest Berry</span>
                            <p class="menu-description">Red fruit and white wine syrup blackberries, strawberries, blueberries and raspberries.</p>
                        </div>
                        <span class="menu-price" aria-label="€7.00">€7.00</span>
                    </li>
                    
                    <li class="menu-item" aria-label="turkish lemonade">
                        <div>
                            <span>Turkish lemonade</span>
                            <p class="menu-description"> Tangy lemon-infused cheesecake nestled atop a buttery crust, finished with a luscious lemon curd glaze.</p>
                        </div>
                        <span class="menu-price" aria-label="€7.00">€7.00</span>
                    </li>
                    
                    <li class="menu-item" aria-label="tiramisu">
                        <div>
                            <span>Tiramisu</span>
                            <p class="menu-description">Delicate layers of espresso-soaked ladyfingers nestled within a rich cheesecake base, topped with a dusting of cocoa.</p>
                        </div>
                        <span class="menu-price" aria-label="€7.00">€7.00</span>
                    </li>
                    
                    <li class="menu-item" aria-label="matcha green tea">
                        <div>
                            <span>Matcha Green Tea</span>
                            <p class="menu-description">Velvety smooth texture with a striking green hue, topped with a dusting of matcha powder.</p>
                        </div>
                        <span class="menu-price" aria-label="€7.00">€7.00</span>
                    </li>
                    <li class="menu-item" aria-label="mango coconut">
                        <div>
                            <span>Mango Coconut</span>
                            <p class="menu-description">Creamy coconut-infused cheesecake base topped with luscious mango puree, offering a perfect balance of sweet and tangy flavors.</p>
                        </div>
                        <span class="menu-price" aria-label="€7.00">€7.00</span>
                    </li>                    
                </ul>
            </div>

            <div class="menu-category" aria-labelledby="mini">
                <h4 class="category" id="mini">Mini</h4>
                <ul>
                    
                    <li class="menu-item" aria-label="new york style">
                        <div>
                            <span>New York Style</span>
                            <p class="menu-description">Refreshing citrus sorbet drizzled with a homemade mint-infused syrup.</p>
                        </div>
                        <span class="menu-price" aria-label="€6.00">€6.00</span>
                    </li>
                    
                    <li class="menu-item" aria-label="chocolate ">
                        <div>
                            <span>Chocolate </span>
                            <p class="menu-description">A sweet twist on the classic gazpacho, featuring layers of mixed berry puree and vanilla yogurt.</p>
                        </div>
                        <span class="menu-price" aria-label="€6.00">€6.00</span>
                    </li>
                    
                    <li class="menu-item" aria-label="strawberry">
                        <div>
                            <span>Strawberry</span>
                            <p class="menu-description">Creamy pumpkin soup with a touch of sweetness, served in small shooter glasses.</p>
                        </div>
                        <span class="menu-price" aria-label="€6.00">€6.00</span>
                    </li>                  
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    function scrollToCategory(categoryId) {
        const element = document.getElementById(categoryId);
        element.scrollIntoView({ behavior: 'smooth' });
    }
</script>

{%endblock%}